<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>graffiti presentation</title>

  <!-- Graffiti Dependencies --> 
  <script src="https://unpkg.com/vue@3.2.31/dist/vue.global.prod.js"></script>
  <script type="module" src="https://sportdeath.github.io/graffiti-tools/vue.js"></script>

  <!-- Slide Dependencies -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/blissfuljs/1.0.6/bliss.shy.min.js"></script>
  <script src="https://inspirejs.org/inspire.mjs" type="module"></script>
  <link href="https://inspirejs.org/inspire.css" rel="stylesheet" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="theme.css" rel="stylesheet" />
</head>
<body>

  <header id="title" class="slide">
    <h1>
      Graffiti
    </h1>
    <h2>
      The Potential for Anarchism in the Design of Social Applications
    </h2>
    <p class="attribution">Theia Henderson and David Karger</p>
  </header>

  <header id="slides-link" class="slide">
    <h3>Slides:</h3>
    <h1>graffiti.csail.mit.edu</h1>
  </header>

  <article id="social-media-bad" class="slide delay">
    Social media today can be:
    <ul class="delayed-children">
      <li>Addicting</li>
      <li>
        Depressing
        <!--
        <span class="cite">
          <a href="https://docs.google.com/document/d/1diMvsMeRphUH7E6D1d_J7R6WbDdgnzFHDHPx9HXzR5o/edit">📖</a>,
          <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0069841">📖</a>,
          <a href="https://www.sciencedirect.com/science/article/abs/pii/S0140197116300343">📖</a>
        </span>
        -->
      </li>
      <li>
        Enraging
        <!--
        <span class="cite">
          <a href="https://www.wsj.com/articles/facebook-algorithm-change-zuckerberg-11631654215">📖</a>
        </span>
        -->
      </li>
      <li>
        A vector for disinformation
        <!--
        <span class="cite">
          <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3144139">📖</a>
        </span>
        -->
      </li>
      <li>...</li>
    </ul>
    <span class="delayed">Can we do better?</span>
  </article>

  <article class="slide delay">
    <h1>
      Yes!
    </h1>

    <div class="flex-container delayed-children" >
      <div class="flex-item half-row">
        <a href="https://policykit.org/">
          <img class="flex-item" src="https://policykit.org/static/policyengine/img/logo.gif"/>
        </a>
      </div>
      <div class="flex-item half-row">
        <a href="http://filterbuddy.org/">
          <img class="flex-item" src="http://filterbuddy.org/static/youtube/square.jpeg"/>
        </a>
      </div>
    </div>
    <div class="flex-container delayed-children">
      <div class="flex-item half-row">
        <a href="https://github.com/conversationai/harassment-manager">
          <img class="flex-item" src="https://cdn.vox-cdn.com/uploads/chorus_asset/file/23296479/Harassment_Manager_UI_Home.png">
        </a>
      </div>
      <div class="flex-item half-row">
        <a href="https://trustnet.csail.mit.edu">
          <img class="flex-item" src="media/trustnet.png"/>
        </a>
      </div>
    </div>
  </article>

  <article class="slide delay">
    <h1>
      Individual and Community Design Too!
    </h1>

    <div class="flex-container delayed-children">
      <div class="flex-item">
        <a href="https://dl.acm.org/doi/abs/10.1145/3411764.3445757">
          <img class="flex-item" src="media/dearboard.png"/>
        </a>
      </div>
      <div class="flex-item">
        <a href="https://dl.acm.org/doi/abs/10.1145/2858036.2858409">
          <img class="flex-item" src="media/aoto.png"/>
        </a>
      </div>
      <div class="flex-item">
        <a href="https://dl.acm.org/doi/abs/10.1145/3411764.3445757">
          <img class="flex-item" src="media/myspace.webp"/>
        </a>
      </div>
    </div>
  </article>

  <article class="slide delay">
    <h1>
      So why are most people still using harmful and boring applications?
    </h1>
    <h2 class="delayed">
      It's what their friends use.
    </h2>
    <p class="delayed">
      (Network Lock-In)
    </p>
  </article>

  <header class="slide">
    <h1>
      What can we do about lock-in?
    </h1>
  </header>

    <article class="slide delay">
      <h1>
        Socialist Approach
      </h1>

      <h2>
        Effect change through collective action.
      </h2>

      <ul class="delayed-children">
        <li>
          Write petitions or legislation that will change existing platforms.
        </li>
        <li>
          Create an entirely new platform and convince everyone to switch.
        </li>
      </ul>

      <p class="delayed">
        Slow and require sustained collective effort<sup><a href="https://www.penguinrandomhouse.com/books/645360/against-elections-by-david-van-reybrouck/">1</a></sup>
        <span class="delayed">:
          <br>
          often solving problems in the <span class="quote">rear-view mirror</span>.
        </span>
      </p>
    </article>

    <article class="slide">
      <h1>
        Graffiti
      </h1>
      
      <ul class="delayed-children">
        <li>
          An infrastructure that (arguably) any social application can be built on top of.
        </li>
        <li>
          Applications that have overlapping functionality naturally interoperate.
        </li>
      </ul>
      <p class="delayed" style="margin-top: 2em">
        *<i>Clarification</i>: Graffiti does not integrate <i>existing</i> platforms, it is a prototype of an entirely new ecosystem. 
      </p>
    </article>

    <article class="slide">
      <h1>
        Anarchist Approach
      </h1>

      <h2>
        Effect change independently or through voluntary collaboration.
      </h2>

      <ul class="delayed-children">
        <li>
          Use, design or customize whatever interfaces, filters, algorithms, moderators and broadcast patterns you want!
        </li>
        <li>
          Many designs can be explored and iterated on in parallel. <strong>Fast evolution!</strong>
        </li>
      </ul>
    </article>

    <header class="slide">
      <h1>
      What does this look like?
      </h1>
    </header>

    <article class="slide" id="login">
      <h1>How about a social network in a slideshow...</h1>
      <graffiti-app data='{"editing": false}' class="delayed">
          <graffiti-collection v-slot="name"
            :query="{
              type: 'description',
              subject: graffiti.myID,
              descriptor: 'name',
              description: {'$type': 'string'},
              _by: graffiti.myID
            }">
            <div class="delayed">
              My name is:
              <template v-if="editing">
                <input v-model="editName" class="fixed-field">
                <button @click="name.update({
                  type: 'description',
                  subject: graffiti.myID,
                  descriptor: 'name',
                  description: editName,
                  _by: graffiti.myID
                });editing=false">
                  ✅
                </button>
              </template>
              <template v-else>
                <span class="fixed-field">
                  <template v-if="name.object&&name.object.description">
                      {{name.object.description}}
                  </template>
                  <template v-else>
                    anonymous
                  </template>
                </span>
                <button @click="editName=(name.object?name.object.description:'');editing=true">
                  ✏️
                </button>
              </template>
            </div>
          </graffiti-collection>
      </graffiti-app>
    </article>

    <article class="slide">
      <graffiti-app>

        <h1>
        Do you have any questions so far?
        </h1>

        <graffiti-collection v-slot="posts"
          :query="{
            type: 'post',
            content: { '$type': 'string' },
            tags: { '$all': ['graffiti', 'dimacs'] }
          }"
          :page-size="10"
          :live="true" >

          <form @submit.prevent="posts.update({
            type: 'post', 
            content: postContent,
            tags: ['graffiti', 'dimacs'],
            _by: graffiti.myID
          }); postContent=''">
            <div class="flex-container">
              <input v-model="postContent" class="flex-item"/>
            </div>
            <div style="text-align: right">
              <input type="submit" value="post" />
            </div>
          </form>

          <hr>

          <div class="post-list">
            <div v-for="post in posts.objects" :key="post._id" class="post">
              <div class="post-line" style="font-weight: bold;">
                <graffiti-collection v-slot="name"
                  :query="{
                    type: 'description',
                    subject: graffiti.myID,
                    descriptor: 'name',
                    description: {'$type': 'string'},
                    _by: graffiti.myID
                  }"
                  :live="true">
                  <template v-if="name.object">
                    {{name.object.description}}
                  </template>
                  <template v-else>
                    Anonymous
                  </template>
                <graffiti-collection>
              </div>

              <div class="post-line">
                {{post.content}}
              </div>

              <div class="post-line">
                <graffiti-collection v-slot="likes"
                  :query="{
                    type: 'like',
                    at: post._id,
                    _by: { '$exists': 'true' }
                  }"
                  :page-size="100"
                  :live="true" >

                  {{likes.objects.length}}

                  <template v-if="!likes.objects.filter(l => l._by==graffiti.myID).length">
                    <button @click="likes.update({
                      type: 'like',
                      at: post._id,
                      _by: graffiti.myID,
                    })">like</button>
                  </template>
                  <template v-else>
                    <button @click="likes.delete(likes.objects.filter(l => l._by==graffiti.myID)[0]._id)">
                      unlike
                    </button>
                  </template>

                </graffiti-collection>

              <template v-if="post._by==graffiti.myID">
                <button @click="posts.delete(post._id)">delete</button>
              </template>
              </div>
            </div>
          </div>
        </graffiti-collection>
      </graffiti-app>
    </article>

  <header class="slide">
    <h1>
      How does this all work?
    </h1>
  </header>


  <article class="slide">
    <h1>Our Design</h1>

    <ul class="delayed-children">
      <li>
        Social data is composed of <strong>independent objects</strong> (posts, likes, relationships, etc.) which can be referred to by unique identifiers.
      </li>
      <li>
        Users can only modify their own objects; moderation and collaboration are <strong>interpretations</strong> of data.
      </li>
      <li>
        Data objects lack an intrinsic schema; norms evolve naturally as a <strong>folksonomy</strong>.
        <span class="delayed">(Like <a href="https://www.w3.org/TR/activitystreams-core/">ActivityStreams</a>).</span>
      </li>
      <li>
        Data objects have no extrinsic organization; collections of objects are built from <strong>queries</strong>.
      </li>
      <li>
        <strong>
        Contextual boundaries are an intrinsic property of the data.
        </strong>
      </li>
    </ul>

    
  </article>

  <article class="demo slide" id="collection-demo">
    <textarea class="language-html">
      <graffiti-app>
        <graffiti-collection v-slot="posts"
          :query="{
            type: 'post',
            content: { '$type': 'string' },
            tags: {'$all': ['graffiti', 'dimacs']}
          }"
          :page-size="20"
          :live="true" >

          <ul class="post-list">
            <template v-for="post in posts.objects" :key="post._id">
              <!-- TODO: only show posts that I have liked -->

              <li>
                {{post.content}}
              </li>
            </template>
          </ul>
        </graffiti-collection>
      </graffiti-app>
    </textarea>
  </article>

  <article class="slide">
    <h1>
      Moderation as Interpretation
    </h1>
    <ul class="delayed-children">
      <li>
        Subscribe to moderators just like you subscribe to posts!
      </li>
      <li>
        You could give moderation power to friends, community leaders or <span class="quote">public options</span>.
      </li>
      <li>
        Maybe you'll use a system like PolicyKit!
      </li>
    </ul>
  </article>

  <header class="slide">
    <h1>Context and Collapse</h1>
  </header>

  <article class="slide" id="mental-models">
    <p class="delayed">
      When we communicate we form <strong>mental models</strong> of our audience:
    </p>
    <ul class="delayed-children">
      <li>
        What are these people interested in?
      </li>
      <li>
        What conversational norms do they expect?
      </li>
    </ul>
    <p class="delayed" style="padding-top:1em;">
      We shape <strong>what we say</strong> based on these models
      <br>
    <span class="delayed">and we form our models from <strong>context cues</strong>.</span>
    </p>
  </article>

  <article class="slide">
    <h1>Context</h1>

    <p class="delayed">
      ... an abstract <span class="quote">place</span> and the identities, situations and norms associated with that place.

      <ul class="delayed-children">
        <li>
          App: <span class="quote">on twitter,</span> <span class="quote">on facebook</span>
        </li>
        <li>
          Category: <span class="quote">in a channel,</span> <span class="quote">in a subreddit,</span> <span class="quote">at #graffiti</span>
        </li>
        <li>
          Person: <span class="quote">on my profile</span>
        </li>
        <li>
          Content: <span class="quote">in its comments section</span>
        </li>
        <li>
          Hierarchy: <span class="quote">in a thread,</span> <span class="quote">in a directory</span>
        </li>
        <li>
          Physical space: <span class="quote">within a radius</span>
        </li>
        <li>
          ...
        </li>
      </ul>
    </p>
  </article>

  <article class="slide">
    <h1>
      But what is a <span class="quote">place</span> when data can show up in many queries?
    </h1>

    <h2 class="delayed">
      Context Collapse!
    </h2>

    <p class="delayed">
      When people experience <strong>context collapse</strong>
      they can either overly censor themselves or end up annoying and being censored by other people<sup><a href="https://www.tandfonline.com/doi/abs/10.1080/08838151.2012.732140">1</a></sup>.
    </p>

    <p class="delayed">
      This is already a problem!
    </p>

    <p class="delayed">
      By collapsing everything onto one infrastructure it could get a lot worse!
    </p>

    <p class="delayed">
      Do we need some fixed extrinsic organization of objects?
    </p>
  </article>

  <article class="slide">
    <h1>
      Context as an Intrinsic Property
    </h1>

    <span class="quote delayed">I only want people to see my post if they are specifically looking for...</span>

    <ul class="delayed-children">
      <li>
        things by me <span class="delayed">→ my profile</span>
      </li>
      <li>
        things that refer to an article 
        <span class="delayed">→ comments section</span>
      </li>
      <li>
        things with #graffiti
        <span class="delayed">→ a channel</span>
      </li>
    </ul>
  </article>

  <article class="slide">
    <h1>
      Context as an Intrinsic Property
    </h1>

    <p>
      <span class="quote">I only want people to see my post if their query is sufficiently specific.</span>
    </p>

    <p class="delayed">
      Smaller queries lead to more data?
    </p>

    <br>

    <div class="delayed bubble-container">
      <div class="bubble">
        How are you?
      </div>
      <div class="bubble-name">
        Alice
      </div>
    </div>

    <div class="delayed bubble-container" style="text-align:right">
      <div class="bubble" style="background-color:lightskyblue;margin-left:auto">
        Fine.
      </div>
      <div class="bubble-name">
        Bob
      </div>
    </div>

    <div class="delayed bubble-container" style="text-align:right">
      <div class="bubble" style="background-color:lightskyblue;margin-left:auto">
        When I was first initialized...
      </div>
      <div class="bubble-name">
        Regular Database
      </div>
    </div>
  </article>

  <header class="slide">
    <h1>
      How can we describe <span class="quote">sufficiently specific</span> queries?
    </h1>
  </header>

  <article class="slide">
    <h1>
      Representing Context with<br> <a href="https://www.youtube.com/watch?v=sh3EPjhhd40"><span class="quote">Near Misses</span></a>
    </h1>

    <div class="point-container delayed-children">
      <div class="point-item">
        <pre style="text-align: left">
          {
            type: 'post',
            content: 'hello world!',
            tags: ['graffiti']
          }
        </pre>
        <div class="point"></div>
      </div>

      <div class="point-item">
        <pre style="text-align: left">
          {
            type: 'post',
            content: 'hello world!',
            tags: [<span style="color:red">'notgraffiti'</span>]
          }
        </pre>
        <div class="point"></div>
      </div>
    </div>

    <div class="big-query delayed"></div>

    <div class="point-container delayed-children">
      <div class="point-item">
        ✅
      </div>
      <div class="point-item">
        ✅
      </div>
    </div>
    <p class="delayed">
      ❌ Don't return the post
    </p>
  </article>

  <article class="slide">
    <h1>
      Representing Context with<br> <a href="https://www.youtube.com/watch?v=sh3EPjhhd40"><span class="quote">Near Misses</span></a>
    </h1>

    <div class="point-container">
      <div class="point-item">
        <pre style="text-align: left">
          {
            type: 'post',
            content: 'hello world!',
            tags: ['graffiti']
          }
        </pre>
        <div class="point"></div>
      </div>

      <div class="point-item">
        <pre style="text-align: left">
          {
            type: 'post',
            content: 'hello world!',
            tags: [<span style="color:red">'notgraffiti'</span>]
          }
        </pre>
        <div class="point"></div>
      </div>
    </div>

    <div class="small-query-container">
      <div class="small-query delayed"></div>
    </div>

    <div class="point-container delayed-children">
      <div class="point-item">
        ✅
      </div>
      <div class="point-item">
        ❌
      </div>
    </div>
    <p class="delayed">
      ✅ Do return the post
    </p>
  </article>

  <article class="slide" id="context-demo">
    <graffiti-app data='{"by": {"$exists": true}, "inReplyTo": {"$exists": true}, "tags": [], "post": {"_by": "ff30f6c3-9f85-5565-82a1-7458a1d41d4e", "content": "this is cool!", "inReplyTo": "coolarticle", "tags": ["cs", "law"]}, "id": ""}'>

      <graffiti-collection v-slot="poster" :query="post">
        <div class="flex-container" style="text-align:left; flex-grow:1">
          <div class="flex-item" style="line-height: 1em; flex-grow:2">
            <p>
              Post
            </p>
              <pre>
                {
                  type: 'post',
                  _by: graffiti.myID,
                  content: 'this is cool!'
                  inReplyTo: 'coolarticle',
                  tags: ['cs', 'law']
                }
              </pre>
            <p style="padding-bottom:1em">
              with near miss(es):
            </p>
            <br>
            <button @click="poster.update(post)" class="missbutton">
              <pre>
{}
              </pre>
            </button>
            <br>
            <button @click="
              const copy=Object.assign({},post);
              const miss=Object.assign({},post);
              miss._by = 'notme';
              copy._contexts = [{
                nearMisses: [miss]
              }]
              poster.update(copy)" class="missbutton">
              <pre>
{ _by: 'notme' }
              </pre>
            </button>
            <br>
            <button @click="
              const copy=Object.assign({},post);
              const miss=Object.assign({},post);
              miss.inReplyTo = 'notcoolarticle';
              copy._contexts = [{
                nearMisses: [miss]
              }]
              poster.update(copy)" class="missbutton">
              <pre>
{ inReplyTo: 'notcoolarticle' }
              </pre>
            </button>
            <br>
            <button @click="
              const copy=Object.assign({},post);
              const miss=Object.assign({},post);
              miss.inReplyTo = 'notcoolarticle';
              miss.tags = ['notcs', 'notlaw'];
              copy._contexts = [{
                nearMisses: [miss]
              }];
              poster.update(copy)" class="missbutton">
              <pre>
{
  inReplyTo: 'notcoolarticle'
  tags: ['notcs', 'notlaw']
}
              </pre>
            </button>
            <br>
            <button @click="
              const copy=Object.assign({},post);
              const miss1=Object.assign({},post);
              const miss2=Object.assign({},post);
              const miss3=Object.assign({},post);
              miss1.inReplyTo = 'notcoolarticle';
              miss2.tags = ['notcs', 'law'];
              miss3.tags = ['notlaw', 'cs'];
              copy._contexts = [{
                nearMisses: [miss1, miss2, miss3]
              }]
              poster.update(copy)" class="missbutton">
              <pre>
[
  { inReplyTo: 'notcoolarticle' },
  { tags: ['cs', 'notlaw'] },
  { tags: ['notcs', 'law'] }
]
              </pre>
            </button>
          </div>
          <div class="flex-item" style="line-height: 1em; text-align:right;">
            <div class="context-item">
            <div class="quote">On my profile</div>
            </div>
            <div class="context-item">
            <div class="quote">In the comments section</div>
            </div>
            <div class="context-item">
            <div class="quote">Under the CS tag</div>
            </div>
            <div class="context-item">
            <div class="quote">Under the law tag</div>
            </div>
            <div class="context-item">
            <div class="quote">In the comments section and under the CS and law tags</div>
            </div>
          </div>
          <div class="flex-item" style="line-height: 1em; flex-grow:0">
            <div class="context-item">
            <graffiti-collection v-slot="byme"
              :query="{ _by: graffiti.myID }"
              :page-size: "0"
              :live="true">
              <span v-if="byme.object && byme.object._timestamp == poster.object._timestamp">
                ✅
              </span>
              <span v-else>
                ❌
              </span>
            </graffiti-collection>
            </div>
            <div class="context-item">
            <graffiti-collection v-slot="inreply"
              :query="{ inReplyTo: 'coolarticle' }"
              :page-size: "0"
              :live="true">
              <span v-if="inreply.object && inreply.object._timestamp == poster.object._timestamp">
                ✅
              </span>
              <span v-else>
                ❌
              </span>
            </graffiti-collection>
            </div>
            <div class="context-item">
            <graffiti-collection v-slot="cs"
              :query="{ tags: 'cs' }"
              :page-size: "0"
              :live="true">
              <span v-if="cs.object && cs.object._timestamp == poster.object._timestamp">
                ✅
              </span>
              <span v-else>
                ❌
              </span>
            </graffiti-collection>
            </div>
            <div class="context-item">
            <graffiti-collection v-slot="law"
              :query="{ tags: 'law' }"
              :page-size: "0"
              :live="true">
              <span v-if="law.object && law.object._timestamp == poster.object._timestamp">
                ✅
              </span>
              <span v-else>
                ❌
              </span>
            </graffiti-collection>
            </div>
            <div class="context-item">
            <graffiti-collection v-slot="all"
              :query="{ inReplyTo: 'coolarticle', tags: { '$all': ['law', 'cs'] } }"
              :page-size: "0"
              :live="true">
              <span v-if="all.object && all.object._timestamp == poster.object._timestamp">
                ✅
              </span>
              <span v-else>
                ❌
              </span>
            </graffiti-collection>
            </div>
        </div>
      </graffiti-collection>
    </graffiti-app>
  </article>

  <article class="slide">
    <h1>
      That's about it!
    </h1>

    <p class="delayed">
      An unstructured shared database with intrinsic contextual boundaries.
    </p>

    <p class="delayed">
      Two things I didn't mention:
      <ul class="delayed-children">
        <li>
          Neighbors: <span class="quote">sufficiently vauge</span>
        </li>
        <li>
          Access control though context.
        </li>
      </ul>
    </p>
  </article>

  <header class="slide">
    <h1>
      Wrapping Up
    </h1>
  </header>

  <article class="slide">
    <h1>
      Why is this titled Graffiti?
    </h1>

    <img class="delayed" src="media/462.jpg"/>
  </article>

  <article class="slide">
    <h1>
      Related Work
    </h1>

    <ul class="delayed-children">
      <li>
        <b>Solid</b>: makes <em>your own</em> data portable but does not break the network effect.
      </li>
      <li>
        <b>ActivityPub</b>: great for communication with specific people or with people on your server. Not great for overlapping or spontaneous communities.
      </li>
      <li>
        <b>Web3</b>:
        something isn't necessarily better just because it's decentralized.
      </li>
    </ul>
  </article>

  <footer class="slide">
    <h1>
      Open Questions
    </h1>

    <ul class="delayed-children">
      <li>
        Would this be a haven for hate groups?
        <span class="delayed">
          Or would the diverse and overlapping "views" dampen echo chambers?
        </span>
      </li>
      <li>
        If left to their own devices would people just make social media even <em>more</em> addictive/engaging?
      </li>
      <li>
        Would people remove all healthy friction?
        <span class="delayed">
          Is friction a hack we don't need anymore?
        </span>
      </li>
      <li>
        Is it possible to decentralize?
        <span class="delayed">
          Would a democratically run non-profit suffice?
        </span>
      </li>
      <li>
        How would a system like this gain adoption?
        <span class="delayed">
          If you want to try this out, email me!
          <tt>
            theia＠mit.edu
          </tt>
        </span>
      </li>
    </ul>
  </article>
</body>
</html>


<!--
    If I post a photo, how is it possible for me to know who my audience is if they can find it through a query?
    Maybe they found it because they're my friend and interested in posts by me

    What happens if my notion of hierarchy conflicts with you

    Things can exist in multiple places at once.
    Sometimes things exist in multiple places at once (multiple hashtags, my twitter comments are also in your twitter feed).
-->
