@import url("extras.css");

:root {
	--font-mono: Consolas, Monaco, 'Andale Mono', monospace;
	--font-body: 'Times New Roman', serif;
	--font-heading: var(--font-body);
	--color-yellow: hsl(50, 100%, 50%);
	--color-green: dimgrey;
	--color-aqua: hsl(190, 100%, 40%);
  --color1: lightgrey;
  --color2: grey;
  --color3: dimgrey;
	--accent1: var(--color-aqua);
	--accent2: var(--color-green);
	--accent3: var(--color-yellow);
	--accent4: hsl(336, 100%, 55%);
	--light1: hsl(200, 40%, 80%);
	--medium1: var(--color-yellow);
	--dark1: hsl(200, 15%, 20%);
	--dark2: hsl(335, 100%, 35%);

}

body {
	font: 300 100%/1.5 var(--font-body);
	font-family: var(--font-body);
	--darker: rgba(0,0,0,.12);
  background-image: url('media/graffiti.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-origin: padding-box;
  background-size: cover;
	font-synthesis: none;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	text-align: center;
}

p, ul, ol {
  margin: 0.3em;
}

a {
	color: inherit;
	text-decoration-color: hsla(0,0%,100%,.4);
}

a:hover {
  text-decoration: underline;
}

strong, b {
	font-weight: bold; /* FF is weird */
}

:focus:not(:focus-visible) {
	outline: none;
}

.cite {
	font: 50%/1.5em var(--font-body);
}

.cite:after {
  content: "]"
}

.cite:before {
  content: "["
}

code, textarea, pre {
	margin: 0;
	font: 70%/1.5em var(--font-mono);
	font-family: var(--font-mono);
	tab-size: 4;
	color: inherit;
}

	pre > code {
		font-size: inherit;
	}

	code mark {
		--color: hsla(190, 20%, 50%, .5);
		background: var(--color);
		box-shadow: 0 -.05em 0 .1em var(--color);
		color: inherit;
		border-radius: 1px;
		text-shadow: .01em .05em .2em rgba(0,0,0,.6);
		transition: .6s;
	}

pre + pre {
	margin-top: 1.5em;
}

img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

::selection {
	background: var(--dark1);
	color: white;
	text-shadow: none;
}

.slide {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
  padding: 6rem;
	color: black;
  background: rgba(255, 255, 255, 0.95);
}

header.slide {
	padding: 20vmin;
  background: rgba(255, 255, 255, 0.8);
  background-clip: content-box, padding-box;
}

@media (max-width: 1024px) {
	.slide {
		padding: 30vmin;
	}
}

	.light.slide {
		background: var(--light1);
		color: black;
	}

	.slide > h1,
	.slide > header > h1 {
		text-align: center;
		margin: 0 0 .6em;
		font-size: 200%;
	}

		.slide > header > h1 + h2,
		.slide > header > h1 + p {
			margin-top: 0;
		}

	.slide h2 {
    font-style: italic;
		font-size: 120%;
	}

section > header.slide {
	background: linear-gradient(to bottom right, var(--accent3), var(--accent2), var(--accent1), var(--accent2), var(--accent3));
}

section > section > header.slide {
	background: linear-gradient(to bottom right, var(--accent4), var(--accent3), var(--accent1), var(--accent3), var(--accent4));
}

	section > header.slide > h1 {
		margin: auto;
		padding: .5em .7em;
		background: black;
		text-align: center;
		font-size: 250%;
		line-height: 1.2;
		font-weight: 300;
	}

#indicator {
	color: white;
}

/* Quotes */

blockquote {
	position: relative;
	font-style: italic;
	max-width: calc(80vw - 4.5em);
}

	blockquote::before {
		content: "❝";
		position: absolute;
		right: 100%;
		top: -.3em;
		margin-right: .2em;
		font-size: 300%;
		color: var(--accent1);
		font-style: normal;
	}

	blockquote .cite {
		text-align: right;
		font-style: normal;
		font-size: 60%;
		font-weight: bold;
		color: var(--accent1);
	}

		blockquote .cite::before {
			content: "— "
		}

		blockquote .cite a:not(:hover) {
			text-decoration: none;
		}

/* Tables */

.slide > table {
	border-spacing: 0;
	margin: 1em;
}

	table caption {
		font-weight: bold;
		letter-spacing: -.05em;
		color: var(--color-orange);
	}

	th,
	td {
		vertical-align: middle;
		text-align: left;
		padding: .5em;
	}

	th {
		border: 0;
	}

	tbody th {
		text-align: right;
		padding-left: 0;
	}

	thead th {
		vertical-align: top;
		font-size: 75%;
		background: var(--accent1);
		padding: .3em .5em;
	}

	tbody tr > * {
		border-top: 1px solid hsla(0, 0%, 100%, .15);
	}

	td:first-child {
		font-weight: 300;
	}

	td:first-child,
	th:first-child {
		text-align: left;
	}

/* Syntax highlighting */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: hsla(220, 10%, 90%, .5);
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.delayed.displayed, .delayed-children > .displayed {
  opacity: 0.4;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
	color: var(--accent2);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin {
	color: var(--accent1);
}

.token.operator,
.token.entity,
.token.url,
.language-css > .token.string,
.token.inserted,
.token.function {
	color: var(--accent4); /* deep pink */
}

.token.attr-value,
.token.keyword,
.token.variable {
	color: var(--accent3);
}

.token.atrule,
.token.regex,
.token.important {
	color: orange;
}

.token.important,
.token.bold {
	font-weight: bold;
}

button,
input {
  font: inherit;
  -webkit-appearance: none;
  border-radius: 0;
}

.flex-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}


.flex-item {
  flex-grow: 1;
  line-height: 0;
  padding: 1vmin;
}

sup {
  vertical-align: super;
  font-size: 60%;
}

graffiti-app {
  text-align: left;
  padding: 0.2em;
  border: 3px solid;
}

.fixed-field {
  width: 50vmin;
  display: inline-block;
  text-align: center;
  border-bottom: 3px solid;
}

.graffiti-log-in-bar {
  margin-bottom: 2em;
}

.post-list {
  height: 60vh;
  width: 80vmin;
  overflow: scroll;
}

.post {
  border: 1px solid;
}

.post-line {
  padding: 0.5em;
  font-size: 150%;
}

.post-line + .post-line {
  padding-top: 0em;
}

.quote:before {
  content: "“";
}

.quote:after {
  content: "”";
}

.bubble-container {
  width: 50%;
  text-align: left;
  padding-top: 2em;
}

.bubble-container + .bubble-container {
  padding-top: 0em;
}

.bubble {
  width: max-content;
  padding: 0.5em;
  border-radius: 1.5em;
  background-color: lightgrey;
}

.bubble-name {
  font-size: 80%;
  font-weight: bold;
}
